* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	margin-bottom: 15px;
}


h2 {
	position: relative;
	float: right;
	border: 1px solid black;
	width: 33%;
	padding: 3px;
	text-align: center;
}
section {
 position: relative;
 float: left;
 width: 33%;
 background-color: gray;
 border: 2px solid black;
 padding: 5px;

}
p {
	clear: both;
}