* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
p {
  padding: 10px;

}
.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;

}
section {
  border: 2px solid black;
  width: 100%;
  position: relative;
  background-color: gray;
}

#chicken {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  padding: 5px;
  background-color: #FFFF00;
}
#beef {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  padding: 5px;
  background-color: #FF1439;
}
#sushi {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  padding: 5px;
  background-color: #6495ED;
}
.row {
  width: 100%;
}
/* large screens */
@media (min-width: 992px){
  .col-lg-4{
    float: left;
    width: 33.33%;
  }
}

/* tablet screens*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
    float: left;
    width: 50%;
  }

  .col-md-12{
    float: left;
    width: 100%;
  }
}

/* Mobile screen */
@media (max-width: 768px) {
  .col-sm-12 {
  float: left;
  width: 100%;
  }

  }
}
}