* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 15px;
}
body {
    
}

h2 {
    float: right;
    border: 1px solid black;
    width: 33%;
    padding: 3px;
    text-align: center;
    margin-top: 0;
}
section {
 position: relative;
 float: left;
 width: 33.33%;
 background-color: gray;
 border: 2px solid black;
}
p {
    clear: both;
    padding: 10px;
}